<html>
  <title>PyProxy - Browse Safely</title>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Browse all your favorite websites safely. Browse sites such as, Facebook, Youtube, Myspace, and more from school, or work.
"/>
<meta name="keywords" content="school, work, proxy, proxies, python, python proxy, proxy sites, hacking school firewall, browse at school, browse at work, games at school, facebook at school, myspace at school, youtube at school, how to, videos, safly, browse safly, hide ip, ip, internet protocol, internet safty, PyProxy, pyproxy"/>

  </head>
    <body>
	<center><div style='z-index: 15;
	margin:1%;
	padding:1%;
	background: white;
	color: black;
	font-family:Arial,Helvetica,sans-serif;
	'><h1>PyProxy</h1><form method='post'><input type='text' name='url' placeholder='http://google.com/' style='width:65%; margin:1px;'/><input style='' type='submit' value='Go!'/></form></div><br/> <!-- Begin BidVertiser code -->

	<SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=407869&bid=1255216" type="text/javascript"></SCRIPT>

	<noscript><a href="http://www.bidvertiser.com">pay per click</a></noscript>

	<!-- End BidVertiser code --> </center>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37318937-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <a href="https://github.com/Max00355/PyProxyWeb"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

    </body>
</html>
